@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.custom-header {
    background-color: #ffda2a;
    z-index: 10;
    position: relative;

    .header-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        height: 120px;
        position: relative;
    }

    .logo-container {
        display: flex;
        align-items: center;
        max-width: 550px;
        justify-content: center;

        .logo {
            //         max-height: 179px;
            //         width: auto;
            //       margin-left: 90px;
            // padding: 34px 0;

            max-height: 151px;
            width: auto;
            margin-left: 100px;
             padding: 15px 0; 
            // margin-top: 40px;


        }

        .logo-text {
            margin-left: 12px;
            font-size: 14px;
            color: black;
        }
    }

    .desktop-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 7rem;
    }

    .nav-link {
        position: relative;
        padding-bottom: 6px;
        color: black;
        text-decoration: none;
        font-weight: 700;
        font-size: 19px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: black;
            bottom: -6px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
            border-radius: 2px;
        }

        &:hover::after,
        &.active::after {
            transform: scaleX(1);
        }

        &:hover,
        &.active {
            color: black;
        }
    }

    .menu-toggle {
        display: none;
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    .offcanvas-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #ffda2a;
        color: #000;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;

        &.open {
            left: 0;
        }

        .offcanvas-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fadb3e;
            color: rgb(0, 0, 0);
            padding: 16px;

            .close-btn {
                font-size: 24px;
                cursor: pointer;
            }
        }

        .offcanvas-body {
            display: flex;
            flex-direction: column;
            padding: 0;

            .nav-link {
                padding: 12px 16px;

                &:hover {
                    color: black;
                }
            }
        }
    }

    @media (max-width: 1500px) {
        .desktop-nav {
            gap: 4rem;
        }
    }

    @media (max-width: 1300px) {
        .desktop-nav {
            gap: 3rem;
        }

        .logo-container {

            .logo {
                max-height: 130px;
                width: auto;
                margin-left: 0px;
            }
        }
    }

    @media (max-width: 1200px) {
        .nav-link {
            font-size: 13px;
        }
    }

    @media (max-width: 1040px) {
        .desktop-nav {
            gap: 2rem;
        }

        .logo-container {

            .logo {
                max-height: 110px;
                width: auto;
                margin-left: 0px;
            }
        }

        .nav-link {
            letter-spacing: 1px;
        }
    }

    @media (max-width: 769px) {
        .logo-container {

            .logo {
                max-height: 100px;
                width: auto;
                margin-left: 0px;
                // padding: 15px 0;



                margin-top: 0px;


            }
        }

        .header-row {
            justify-content: space-between;
        }

        .desktop-nav {
            display: none;
        }

        .menu-toggle {
            display: block;
        }
    }
}

.nav-link.active {
    color: black !important;

    &::after {
        transform: scaleX(1) !important;
    }
}